@import "leaflet/dist/leaflet.css";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Fuerza a que NINGÚN contenedor use flexbox por defecto */
body {
  display: block !important;
}

/* Asegura que root ocupa toda la pantalla */
#root {
  height: 100%;
  width: 100%;
}

/* Asegura que App también ocupa todo */
.App {
  height: 100%;
  width: 100%;
}

/* Leaflet necesita tamaño explícito */
.leaflet-container {
  height: 100% !important;
  width: 100% !important;
}
